# Firebase (required for Firestore + Auth)
VITE_FIREBASE_API_KEY=AIzaSyDFqCkAgaVMAEfEAGFFjM1xAO4jLuMhn1o
VITE_FIREBASE_AUTH_DOMAIN=learnwithpugazh.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=learnwithpugazh
VITE_FIREBASE_STORAGE_BUCKET=learnwithpugazh.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=154135503105
VITE_FIREBASE_APP_ID=1:154135503105:web:4d5f45f55eae35b7b57b00
VITE_FIREBASE_APP_CHECK_TOKEN=6LdFUK4tAAAAAPXgbHVj-UY50mT0VtZqR5C1pMq9
SITE_URL=https://learnwithpugazh.dev
